In [1]:
print("Hello, WOrld!")

GOODBYE, WORLD!

In [8]:
print(100*3)
print("GOODBYE" + "3")
print("3"+"4")

300
Hello3
34

In [11]:
print(10//4)
print(10**3)
print()

2
1000

In [15]:
def square(nr):
    x = nr ** 2
    return x

print(square(4))

16

In [26]:
print(type(16))
print(type("16"))
print(type(3.20))
print(type('string1'))
print(type("string2"))
print(type('''string3'''))
print("George's beard")
print('She said "hi"')
print(43,500 , "hello")

<class 'int'>
<class 'str'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
George's beard
She said "hi"
43 500 hello

In [36]:
#Type onversion functions
print(3.14, int(3.14))
print(3.999, float(3.999))
print(3.999, str(3.999))
print(-3.999, int(3.999))
print("2345", int("2345"))
#print(int("23bottles"))

print(float("123.45"))
print(type(float("123.45")))
print(str(23))
print(type(str(23)))

3.14 3
3.999 3.999
3.999 3.999
-3.999 3
2345 2345
123.45
<class 'float'>
23
<class 'str'>

In [37]:
message = "hello world!"
n = 17
pi = 3.14159
print(message)
print(n)
print(pi)

hello world!
17
3.14159

In [1]:
x = 1 + 2 + 3
print(x)

6

In [3]:
print(1+(1+2)*3)
print(len("hello"))

10
5

In [1]:
import turtle
wn = turtle.Screen()
alex = turtle.Turtle()
alex.pensize(10)
alex.color("green")

andrei = turtle.Turtle()
andrei.pensize(5)
andrei.color("pink")
alex.forward(50)
alex.left(120)
alex.forward(50)
alex.right(180)
alex.forward(50)
alex.backward(100)

andrei.right(90)
andrei.forward(100)
andrei.left(90)
andrei.forward(100)
andrei.left(120)
andrei.forward(50)
wn.exitonclick()

In [1]:
import turtle
wn = turtle.Screen()
elan = turtle.Turtle()
distance = 50
for i in range(10):
    elan.forward(distance)
    elan.right(90)
    distance += 10

wn.exitonclick()

In [1]:
import turtle

jane = turtle.Turtle()
jane.forward(20)
print(jane.x)

AttributeError: 'Turtle' object has no attribute 'x'

In [4]:
print("""hello, 
      world!""")

hello, world!

In [2]:
print(3//0)

ZeroDivisionError: integer division or modulo by zero